#login_box
    img#built_with(src='assets/built_with_telepat@2x.png', alt='Built with telepat')
    img#task_name(src='assets/logo_login@2x.png', alt='Task Logo')
    button#login_btn Log in with Facebook