#tasks_from.panes
    .no_tasks
        img(src='assets/placeholder_list.png', alt='no tasks')
        div No tasks assigned.
    .tasks_header.hideit
        span Tasks from #[strong Sarah]
    .task_container.hideit
#tasks_to.panes
    .no_tasks
        img(src='assets/placeholder_list.png', alt='no tasks')
        div No tasks assigned.
    .tasks_header.hideit
        span Tasks for #[strong Sarah]
    .task_container.hideit
    #new_task_container.hideit
        input(type='text', placeholder='Add a task...')
        button#add_task_btn